adium-theme-ubuntu==0.3.4
Django==1.11
f.lux-indicator-applet==1.1.8
pexpect==4.0.1
ptyprocess==0.5
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1
pytz==2017.3
pyxdg==0.25
unity-lens-photos==1.0
urwid==1.3.1
virtualenv==15.1.0
