<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Potrait HALL</a>
    </div>
    <div class="navbar-right">
      <h4><a  href="{% url 'all' %}" style="margin:20px;">All</a></h4>
    </div>

      <div class="navbar-left ">
         
          <ul>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Categories
                        <span class="caret"></span>
                    </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="{%url 'categories' 1 %}">Animals</a>
                </li>
                <li>
                  <a href="{%url 'categories' 2 %}">Science</a>
                </li>
                <li>
                  <a href="{%url 'categories' 3 %}">Scenary</a>
                </li>
                <li>
                  <a href="{%url 'categories' 4%}">Celebrities</a>
                </li>
                <li>
                  <a href="{%url 'all' %}">All Images</a>
                </li>
              </ul>
            </li>
          </ul>
      </div>
  </div>
</nav>
</body>
</html>